.nav-down {
  background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/banner.png");
  max-width: 100%;
  max-height: 100%;
  width: auto;
  height: auto;
  background-size: cover;
  background-position: center center;
  z-index: auto; }

.nav-down .container {
  max-width: 1224px;
  margin: 0 auto;
  padding: 0 12px;
  height: 840px; }

.container-title {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.slogan {
  font-size: 64px;
  color: #650300;
  font-weight: 500;
  text-align: right; }

.slogan .slogan-sm {
  font-size: 36px; }

@media (max-width: 992px) {
  .nav-down {
    background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/banner.png");
    height: 840px;
    background-size: cover;
    background-position: center center; }
  .nav-down .container {
    max-width: 672px;
    max-height: 840px; }
  .slogan {
    font-size: 48px; }
  .slogan .slogan-sm {
    font-size: 20px; } }

@media (max-width: 768px) {
  .nav-down {
    background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/banner.png");
    height: 394px;
    background-size: cover;
    background-position: center center; }
  .nav-down .container {
    max-width: 352px;
    max-height: 394px; }
  .slogan {
    font-size: 32px; }
  .slogan .slogan-sm {
    font-size: 16px; } }

.pros-wall {
  padding-top: 64px;
  padding-bottom: 80px;
  background-color: #AA06010D; }

.pros-title {
  margin: 0 auto;
  text-align: center;
  font-size: 48px;
  line-height: 72px;
  color: #650300;
  margin-bottom: 44px; }

.pros-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: space-around;
      -ms-flex-align: space-around;
          align-items: space-around;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.pros img {
  width: 100px;
  height: 100px;
  margin-bottom: 40px; }

.pros {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 282px;
  height: 289px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: 24px; }

.pros-title {
  text-align: center;
  font-size: 32px;
  line-height: 48px;
  color: #650300;
  margin-bottom: 12px; }

.pros-text {
  font-size: 24px;
  line-height: 36px;
  margin-bottom: 4px;
  color: #650300; }

.pros p {
  font-size: 16px;
  line-height: 24px;
  margin: 0px 37px 24px 37px; }

@media (max-width: 992px) {
  .pros-wall {
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 40px;
    height: 668px; }
  .pros-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .order-1 {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3; }
  .order-4 {
    -webkit-box-ordinal-group: 5;
        -ms-flex-order: 4;
            order: 4; }
  .pros-text {
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 4px;
    color: #650300; } }

@media (max-width: 767px) {
  .pros-wall {
    padding-left: 11x;
    padding-right: 11x;
    padding-top: 32x;
    padding-bottom: 48px;
    height: auto; }
  .pros-title {
    text-align: center;
    font-size: 24px;
    line-height: 48px;
    margin-bottom: 12px; }
  .pros-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column; }
  .pros-text {
    font-size: 16px;
    line-height: 24px;
    margin-left: 64px;
    margin-right: 64px;
    margin-bottom: 8px; } }

.classic {
  padding-top: 64px;
  padding-bottom: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.classic h2 {
  font-size: 48px;
  line-height: 72px;
  text-align: center;
  margin-bottom: 60px;
  color: #650300; }

.classic-item {
  margin-bottom: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.classic-list {
  margin: 0 auto; }

.classic-list .reverse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse; }

.mpic {
  width: 50%; }

.picbox {
  height: auto;
  width: auto; }

.cpic {
  width: auto;
  padding-top: 40.20%;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat; }

.glasses {
  background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/product-1.png"); }

.sun {
  background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/product-2.png"); }

.sun:hover {
  background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/product-2-color.png"); }

.thunder {
  background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/product-3.png"); }

.cicon {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  width: 48px;
  height: 37px; }

.cicon1 {
  content: url("https://hexschool.github.io/webLayoutTraining1st/week3/icon-diamond.svg"); }

.cicon2 {
  content: url("https://hexschool.github.io/webLayoutTraining1st/week3/icon-sun.svg"); }

.cicon3 {
  content: url("https://hexschool.github.io/webLayoutTraining1st/week3/icon-thunder.svg"); }

.classic .classic-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 48px;
  line-height: 72px;
  color: #AA0601;
  padding-left: 12px;
  padding-right: 12px; }

.classic-text .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-line-pack: center;
      align-content: center; }

@media (max-width: 992px) {
  .classic-list {
    margin: 0px; }
  .classic-list .reverse {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row; }
  .classic-item {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start; }
  .picbox {
    width: 410.85px;
    height: 168px; }
  .c-xl {
    margin-right: 32px; }
  .classic .classic-text {
    margin-left: 65px;
    margin-right: 0px;
    font-size: 28px;
    line-height: 32px;
    color: #AA0601; }
  .text {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }
  .classic-list li {
    margin-bottom: 8px; } }

@media (max-width: 767px) {
  .classic {
    padding-top: 24px;
    padding-bottom: 24px;
    padding-left: 0px;
    width: 100%;
    display: block; }
  .cpic-box {
    display: none; }
  .classic h2 {
    font-size: 24px;
    line-height: 48px;
    text-align: center;
    margin-bottom: 16px; }
  .reverse {
    margin-bottom: 24px; }
  .classic-m {
    min-width: 352px;
    width: auto;
    height: auto;
    min-height: 134px;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-bottom: 8px; }
  .c-xl {
    display: none; }
  .picbox {
    display: none; }
  .mpic1 {
    background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/product-1.png"); }
  .mpic2 {
    background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/product-2.png"); }
  .mpic2:hover {
    background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/product-2-color.png"); }
  .mpic3 {
    background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/product-3.png"); }
  .classic .classic-text {
    font-size: 28px;
    line-height: 32px;
    color: #FFFFFF;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-display: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    margin-left: 0px; }
  .cicon1 {
    content: url("https://hexschool.github.io/webLayoutTraining1st/week3/icon-diamond-white.svg"); }
  .cicon2 {
    content: url("https://hexschool.github.io/webLayoutTraining1st/week3/icon-sun-white.svg"); }
  .cicon3 {
    content: url("https://hexschool.github.io/webLayoutTraining1st/week3/icon-thunder-white.svg"); } }

.design {
  background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/bg.png");
  background-size: cover;
  background-position: center center;
  height: 1900px;
  width: 100%;
  padding-top: 64px; }

.df {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.dfc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.df-end {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.design .title {
  font-size: 48px;
  line-height: 72px;
  color: white;
  text-align: center;
  margin-bottom: 63px; }

.design-box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.half {
  height: 50%; }

.design-end {
  width: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.container {
  margin-right: 100px;
  margin-left: 100px; }

.join1 {
  margin-bottom: 60px; }

.join1-left {
  margin-right: 8px; }

.join1row-left {
  margin-right: 8px; }

.join1-right-top {
  margin-bottom: 8px; }

.join1row-pic1-pb {
  padding-bottom: 8px; }

.pic4 {
  max-width: 100%;
  height: 100%;
  margin-right: 8px; }

.pic5 {
  max-width: 100%;
  height: 100%; }

.pic6 {
  max-width: 100%;
  height: 100%; }

.pic7 {
  max-width: 100%;
  height: 100%; }

.pic8 {
  max-width: 100%;
  height: 100%; }

.pdr {
  padding-right: 8px; }

.join2 {
  margin-bottom: 144px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.join2inside {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 592px;
  width: 592px; }

.join2inside::before {
  background-color: white;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0.5; }

.join2inside .content {
  color: #AA0601;
  font-size: 72px;
  line-height: 108px; }

.join2pic1 {
  background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/product-8.png");
  background-size: cover;
  background-position: center center;
  margin-right: 30px; }

.join2pic2 {
  background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/product-9.png");
  background-size: cover;
  background-position: center center; }

.customerbox {
  width: 100%;
  margin-bottom: 80px;
  margin-top: -250px; }
  .customerbox .title {
    color: white;
    text-align: center;
    font-size: 48px;
    line-height: 72px;
    padding: 10px;
    margin-bottom: 60px; }

.quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.quotebox {
  max-width: 282px;
  padding-left: 12px;
  padding-right: 12px; }

.quotepic {
  width: 100%;
  height: 256px;
  background-size: cover;
  background-position: center center; }

.rec1 {
  background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/rec-1.png"); }

.rec2 {
  background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/rec-2.png"); }

.rec3 {
  background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/rec-3.png"); }

.rec4 {
  background-image: url("https://hexschool.github.io/webLayoutTraining1st/week3/rec-4.png"); }

.quotebox-inner {
  font-size: 16px;
  line-height: 24px;
  padding: 16px;
  border: 1px solid #DEE2E6; }

.quote-margin {
  margin-bottom: 16px; }

@media (max-width: 992px) {
  .quote {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap; }
  .quotebox {
    max-width: 324px;
    height: auto;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 24px; }
  .pic4 {
    height: auto; }
  .pic5 {
    height: auto; }
  .pic6 {
    height: auto; }
  .pic7 {
    height: auto; }
  .pic8 {
    height: auto; } }

@media (max-width: 767px) {
  .join2 {
    margin-bottom: 144px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 11px;
    padding-right: 12px;
    padding-bottom: 24px; }
  .join2inside {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    height: 394px;
    width: auto; }
  .quote {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; }
  .quotebox {
    width: auto;
    min-width: 352px;
    height: auto;
    padding-left: 12px;
    padding-right: 12px;
    margin-bottom: 16px; } }

.contactbox {
  width: 100%;
  background-color: #AA06010D; }
  .contactbox .text {
    text-align: left;
    font-size: 20px;
    line-height: 30px;
    margin-bottom: 20px; }
  .contactbox .title {
    text-align: center;
    margin: 0 auto;
    font-size: 48px;
    line-height: 72px;
    margin-bottom: 24px;
    color: black; }
  .contactbox .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    text-align: left;
    font-size: 16px;
    line-height: 24px; }
  .contactbox .submit {
    width: 100%;
    margin-top: 42px;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center; }

.innerbox {
  width: 767px;
  padding-top: 40px;
  padding-bottom: 56px;
  margin: 0 auto; }

.forminner {
  width: 100%;
  margin-top: 4px;
  margin-bottom: 16px;
  padding: 14px 16px;
  border: 1px solid #000;
  background-color: transparent;
  font-size: 16px;
  line-height: 24px; }

.textarea {
  height: 136px; }

input[type="checkbox"] + label {
  display: block;
  cursor: pointer;
  padding-left: 4px; }

input[type="checkbox"] {
  display: none; }

input[type=checkbox] + label::before {
  cursor: pointer;
  content: "\2714";
  border: 1px solid #000;
  border-radius: 10%;
  display: inline-block;
  width: 24px;
  height: 24px;
  padding: 2px 1px 2px 4px;
  margin-right: 8px;
  color: transparent; }

input[type="checkbox"]:checked + label:before {
  background-color: #AA0601;
  border-color: #AA0601;
  color: #fff; }

.agree {
  font-size: 16px;
  line-height: 16px; }

input[type="submit"] {
  margin: 0 auto;
  padding: 16px 58px;
  cursor: pointer;
  border: none;
  background: #AA0601;
  color: #FFF; }

input[type="submit"]:hover {
  background: #650300; }

@media (max-width: 992px) {
  .innerbox {
    max-width: 498px;
    width: 767px;
    padding-top: 40px;
    padding-bottom: 56px;
    margin: 0 auto; }
  .contactbox .text {
    max-width: 498px;
    text-align: left;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 20px; }
  .forminner {
    width: 100%;
    max-width: 498px;
    margin-top: 4px;
    margin-bottom: 12px;
    padding: 14px 16px;
    border: 1px solid #000;
    background-color: transparent;
    font-size: 16px;
    line-height: 24px; } }

@media (max-width: 767px) {
  .innerbox {
    width: 375px;
    padding-top: 24px;
    padding-bottom: 55px; }
  .contactbox .title {
    margin: 0 auto;
    text-align: left;
    font-size: 20px;
    line-height: 48px;
    margin-bottom: 8px; }
  .contactbox .text {
    font-size: 16px;
    line-height: 24px; } }

/*# sourceMappingURL=index.css.map */
